<div class="navbar">
        <div class=navbar_contents>
            <a href="https://django-workspace-akashsewani.c9users.io/home/">Home</a> | 
            <a href="https://django-workspace-akashsewani.c9users.io/contact/">Contact Us</a> |
            <a href="https://django-workspace-akashsewani.c9users.io/about/">About Us</a> 
        </div>
        <div id=div2>
            <a href="https://django-workspace-akashsewani.c9users.io/home">All</a> |
            <a href="https://django-workspace-akashsewani.c9users.io/home/dinein/">Dine In</a> |
            <a href="https://django-workspace-akashsewani.c9users.io/home/takeaway/">Takeaway</a> |
            <a href="https://django-workspace-akashsewani.c9users.io/home/dhabha/">Dhabha</a>
        </div>
</div>
