<html>
    <head>
        
            		{% block header %} 

		            {% endblock header %}
		            {% include "snippets/css.html" %}
        
    </head>
    <body>
        <div class="container">
                    
                <h1>MuyPicky.com</h1>
                {% include "snippets/navbar.html" %}
                {% block content %}
		        {% endblock content %}
		        
		        
		        <div class="wrapper">
		            
		        </div>
		        {% include "snippets/footer.html" %}
		        
        </div>
        

        
        
    </body>
    



